.page-footer__logo {
  &:hover {
    content: url("../img/footer/logotype-blue-tablet-hover.svg");
  }
}


.social-networks-list {
  list-style-type: none;
  display: flex;
}

.social-networks-list__item {
  width: 48px;
  height: 48px;
  border: 3px solid #283645;
  border-radius: 100%;

  &:nth-child(1) {
    background: url("../img/footer/twitter.svg") no-repeat top left;
    margin-left: auto;
    margin-right: auto;
  }

  &:nth-child(2) {
    background: url("../img/footer/facebook.svg") no-repeat top left;
    margin-left: auto;
    margin-right: auto;
  }

  &:nth-child(3) {
    background: url("../img/footer/youtube.svg") no-repeat top left;
    margin-left: auto;
    margin-right: auto;
  }
}


