.about {
  background: #f2f2f2;
}

.about__text-wrapper {
  background: #ffffff;
}

.about__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  padding: 35px 0 0 0;
  margin: 0;
}

.about__list {
  list-style-type: none;

  &::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: calc(320px - 38px);
    background: url("../img/main/Group-1.png") no-repeat top left;
    bottom: 0;
    left: 50%;
    transform: translateX(-32%);
    z-index: 100;
  }
}

.about-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.about-list__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

//------------------------------------------------------------
.page-main__effect .effect__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.page-main__effect .effect__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.page-main__effect .effect__link {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #d22856;
}

.page-main__title-wrapper {
  padding-bottom: 153px;
  position: relative;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 255px;
    background: url(../img/main/back-mobile.jpg) no-repeat top left;
    background-size: cover;
    top: -87px;
    left: 0;
    z-index: 1;
  }
}

.page-main__title {
  position: absolute;
  width: 200px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  top: 9px;
  left: 62px;
  z-index: 3;
}

.page-main__text-wrapper {
  display: block;
  width: 100%;
}

.page-main__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  padding-top: 44px;
  left: 46px;
  position: relative;
  display: block;
  width: 242px;
}
