.rate__title{
  margin: 0;
  padding: 0;
  background: #283645;
  border-right: 2px solid #E5E5E5;
  text-align: center;
  box-sizing: border-box;
  padding: 14px 0 27px;
}

.rate__title-name{
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.rate__title-price{
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.rate__option {
  position: relative;
  padding: 14px 17px 15px;
  border-left: 2px solid #E5E5E5;
  border-bottom: 2px solid #E5E5E5;
  box-sizing: border-box;
}

.rate__option-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #283645;
}

.rate__option-value{
  top: 18px;
  left: 201px;
  position: absolute;
}

.rate__option-value--yes {

  &::before {
    content: "";
    width: 31px;
    height: 21px;
    display: block;
    background: url("../img/main/yes.png") no-repeat;
  }
}

.rate__option-value--no {

  &::before {
    content: "";
    width: 27px;
    height: 27px;
    display: block;
    background: url("../img/main/no.png") no-repeat;
  }
}
