//
.reviews-slider__list {
  list-style-type: none;
}

.reviews-slider__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.reviews-slider__author {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.reviews-slider__author-age {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}
